<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>AG - Adicionar Empresa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <th:block th:include="navbar"></th:block>

    <form style="margin: 100px 25%" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="tipo" placeholder="Tipo de dado *" >

        </div>
        <th:block th:include="adicionarDadoBruto"></th:block>

            <div class="form-group bruto">
            <input type="number" class="form-control" name="label" placeholder="Ano *">
            </div>
            <select id="empresas" class="custom-select bruto" name="empresa">
            </select>


        <small class="form-text text-muted">(*) Campos obrigatórios</small>

        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Salvar</button>
        <a href="/empresas" class="btn btn-light" role="button" style="margin-top: 10px;">Cancelar</a>
    </form>

</div>
<script  type="text/javascript" th:inline="javascript">

    /*<![CDATA[*/
    var empresas = [[${listaEmpresas}]];
    /*]]>*/
    var select = document.querySelector('#empresas');

    empresas.forEach(function (empresa) {
        var textnode = document.createTextNode(empresa.nome);
        var option = document.createElement('option');
        // option.setAttribute("name", empresa.id);
        option.appendChild(textnode);
        select.appendChild(option);
    } );



</script>

</body>
</html>