<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>AG - Editar Empresas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script></head>
</head>
<body>
<th:block th:include="navbar"></th:block>


<form style="margin: 50px 25%" method="post">
        <h1>Excluir empresa</h1>
        <select class="custom-select empresasExcluir" name="empresa">
        </select>

        <small class="form-text text-muted">Você precisa ter certeza que a empresa que vai ser excluida não está associada a nenhum dado</small>
        <button type="submit" class="btn btn-danger" style="margin-top: 10px;">Confirmar</button>
    </form>
    <div style="margin:0 25%">
        <th:block th:include="editarEmpresa"></th:block>
        <a href="/empresas" class="btn btn-light" role="button">Cancelar</a>
    </div>



    <script  type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var empresas = [[${listaEmpresas}]];
        console.log(empresas);
        /*]]>*/

        const select2 = document.querySelector('select.empresasExcluir');

        empresas.forEach(function (empresa){
            var textnode = document.createTextNode(empresa.nome);
            var option = document.createElement('option');
            option.appendChild(textnode);
            select2.appendChild(option);
        });
    </script>
</body>
</html>